<ion-header>

  <ion-navbar>
    <ion-title>Profile List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list *ngIf="friends">
        <ion-item *ngFor="let friend of friends" text-wrap>
          <ion-thumbnail item-start>
            <img src='{{friend.picture}}'>
            </ion-thumbnail>
            <h2>{{friend.studentid}}</h2>
            <p>{{friend.nickname}}</p>
          
          
          <button ion-button clear item-end (click)="showDetail(friend.studentid)">
            <ion-icon name="list-box"></ion-icon>&nbsp;         
            View   
          </button>
        </ion-item>        
      </ion-list>
      <button ion-button full (click)="goBack()" >
          Back
        </button>
</ion-content>
